<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Albums</title>
    <link rel="stylesheet" type="text/css" href="album.css">
</head>
<body>
<h1>Albums List</h1>
<a href="/get-all-songs">
    <button>All Songs</button>
</a>

<ul>
    <li th:each="album : ${albums}">
        <h2 th:text="${album.title}"></h2>
        <p th:text="${album.artist}"></p>
        <p th:text="${album.songCount + ' songs '}"></p>
        <p th:text="${album.length + ' Sec '}"></p>
        <img th:src="${album.imageUrl}" th:alt="${album.title}"/>

        <h1>Add New Song</h1>

        <form action="/add-song" method="post">
            <fieldset>
                <legend>Song Details</legend>

                <input type="hidden" name="albumId" th:value="${album.id}">


                <label for="titleSong">Song Title</label>
                <input type="text" name="titleSong" id="titleSong" required>

                <br>

                <label for="length">Length (seconds)</label>
                <input type="number" name="length" id="length" required>

                <br>

                <label for="trackNumber">Track Number</label>
                <input type="number" name="trackNumber" id="trackNumber" required>

                <br>

                <input type="submit" value="Add Song">
            </fieldset>
        </form>

        <a th:href="@{'/albumSongDetails/' + ${album.id}}">
            <button>View Details</button>
        </a>

        <!--        <form th:action="@{'/delete/' + ${album.id}}" method="post">-->
    <!--            <button type="submit">Delete</button>-->
    <!--        </form>-->
    </li>
</ul>


<form action="/add-new-album" method="post">
    <fieldset>
        <legend>Add New Album</legend>

        <label for="title">Album title</label>
        <input type="text" name="title" id="title" required>

        <br>

        <label for="artist">Artist</label>
        <input type="text" name="artist" id="artist" required>

        <br>

        <label for="songCountStr">Song Count</label>
        <input type="text" name="songCountStr" id="songCountStr" required>

        <br>

        <label for="lengthStr">Length</label>
        <input type="text" name="lengthStr" id="lengthStr" required>

        <br>

        <label for="imageUrl">Image Url</label>
        <input type="text" name="imageUrl" id="imageUrl" required>

        <br>

        <input type="submit" value="Add Album">
    </fieldset>
</form>


</body>
</html>